
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.imagelist {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-weight: bold !important;
  padding: 50px 0 5px;
}

.divider {
  width: 90%;
  height: 2px;
  margin-bottom: 43px;
}

.image {
  padding: 25px 25px 25px 0;
}

@media (max-width: 760px) {
  .title {
    text-align: center;
  }

  .imagelist {
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}