
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.imagelistHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  background-color: #0450D5 !important;
  color: #f9f9f9 !important;
  margin: 50px 80px 5px 0 !important;
}

.imagelist {
  display: flex;
  flex-wrap: wrap;
}

.title {
  font-weight: bold !important;
  padding: 50px 0 5px;
}

.divider {
  width: 90%;
  height: 2px;
  margin-bottom: 43px;
}

.image {
  padding: 25px 25px 25px 0;
}

@media (max-width: 760px) {
  .title {
    text-align: center;
  }

  .imagelistHeader {
    justify-content: center;
    flex-direction: column;
  }

  .button {
    margin: 15px 0 !important;
  }

  .divider {
    width: 313px;
    margin: 0 auto !important;
  }

  .imagelist {
    justify-content: center;
    align-items: center;
  }

  .image {
    padding-right: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}