.root {
    flex-grow: 1;
}

.appbar {
    background-color: #f9f9f9 !important;
}

.menuButton {
    margin-right: 16px;
}

.title {
    flex-grow: 1;
    color: #000;
    font-weight: bold !important;
}