
.root {
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 60%;
    max-width: 1000px;
    min-width: 300px;
    margin-right: 20px;
}

.input {
    margin-left: 8px;
    flex: 1;
}

.iconButton {
    padding: 10px;
}

.divider {
    height: 48px !important;
}

@media screen and (max-width: 500px) {
    .root {
        margin-bottom: 20px;
        margin-left: 20px;
    }
}